<ion-view view-title="Cadastro">
  <ion-content id="sunset" class="pagina-cadastro">
    <section>
        <div>
      <label class="item item-input">
        <input type="text" placeholder="Nome" ng-model="dados.nome">
      </div>
      </label>
      <div>
      <label class="item item-input">
        <input type="text" placeholder="E-mail" ng-model="dados.email">
      </label>
        </div>
      <div>
      <label class="item item-input">
        <input type="password" placeholder="Senha" ng-model="dados.senha">
      </label>
    </div>
    </section>
    <button class="button button-block button-royal" ng-click="cadastrar()"
    type="submit">Cadastrar</button>
    <button class="button button-block button-assertive" ng-click="cancelar()">Cancelar</button>
    <h1 class="title">Cadastro Yogi</h1>
  </ion-content>
</ion-view>
