<ion-view view-title="Glossário">
  <ion-content id="buda" class="pagina-glossario">
    <img src="img/gloss .png">

    <ul class="list">
      <li ng-repeat="item in glossario | filter:palavraBusca" ng-click="showPopup(item)"> <!-- o item é o objeto inteiro, ai depois vc só seleciona qual item, e o glossario é um vetor de objetos e o item é cada objeto dentro deste vetor -->
          <img src="img/lotus.png">
          <p>{{item.palavra}}</p>
      </li>
    </ul>

    <!-- <div class="termos">
    <p>
    <p>  Asanas:  Quando falamos em Yoga a primeira imagem que nos vem a mente é  de alguém numa posição muito estranha que desafia as leis da gravidade. Cada postura que vês no Yoga é um Asana, ou seja, Asana são as posturas (ou posições) que vês os yogis ou as yoginis a fazer.
    <p>  Chakras: Os primeiros Yogis falam-nos do sistema de energia humana. Para eles este sistema é composto por 7 centros de energia localizados ao longo da nossa coluna. Estes centros são chamados de Chakras. A sua ordem é Raiz, Sacral, Plexo Solar, Coração, Garganta, Terceiro Olho e a Coroa.
    <p>  Mantra: A palavra Mantra significa em sânscrito instrumento para o pensamento [adequado] ( man = pensamento,  mente;  tra  = instrumento). Um Mantra é uma fórmula sonora que tem um significado, uma vibração, e tem como objectivo lembrar algo importante para o praticante.
    <p>  Meditação: A meditação é o exercício utilizado para acalmar a mente. Neste, o Yogi observa os seus pensamentos e deixa-os fluir livremente, sem julgamento.
    <p>  Namastê:  Namastê é um cumprimento utilizado na prática do Yoga. A sua tradução é: “O ser em mim, reconhece o ser em ti”.
    <p>  OM: É Uma Longa Exalação Pronunciada Antes E Depois De Uma Prática De Yoga Ou Meditação. Este Som Simboliza A Vibração Do Universo E Tem Um Efeito Terapêutico Benéfico No Corpo E Na Mente.
    <p>  Prana: No oriente existem vários sistemas de energia vital. Já deves ter ouvido falar,por exemplo, do Chi da cultura chinesa. No Yoga a energia vital absorvida através de exercícios de respiração é chamado de Prana.
    <p>  Pranayama: O Pranayama é o sistema de respiração do Yoga praticado no final de uma sessão ou nas práticas individuais. Basicamente Pranayama está ligado à forma como respiras.
    <p>  Sânscrito: Linguagem antiga da Índia usada na escrita dos textos originais do Yoga.
    <p>  Shanti: É outro termo muitas vezes ouvido de quem já pratica yoga. A sua tradução é “Paz”.
    <p>  Sutras: Os Sutras são textos clássicos escritos em sânscrito. Eles abordam toda a temática da prática do Yoga e dos ensinamentos para a vida.
    <p>  Vinyasa: É a transição entre posturas sem quebrar o ritmo de respiração, criando um movimento fluido.
    <p>  Yogi ou Yogini: Um Yogi é alguém que prática Yoga, se for mulher usamos o termo Yogini.
  </div> -->
</ion-content>
</ion-view>
