<ion-view view-title="Meditação">
  <ion-content id="fundo">

      <div class="list-music">

      <div class="item item-body">
        <img class="full-image" src="img/localmeditar.jpg">
        <p>
          Primeiro passo: o local
          Tenha um local só para meditação. Pode ser um cantinho do seu quarto.
         Evite lugares com muito barulho ou distrações.
        </p>
        <p>
          <a class="item item-icon-left" href="#">
          <!--  <img ng-repeat="item in meditacao" alt="{{item.title}}" ng-click='acessar(item.audio)'> -->
            <i class="icon ion-mic-a"></i>
            Nature
            <span class="item-note">
              Sea
            </span>
         <audio src="img/waves.mp3" controls></audio> -->

          </a>
        </div>

        <div class="item item-body">
          <img class="full-image" src="img/meditando.png">
          <p>
            Segundo passo: posição
            Mantenha a coluna ereta, mas sem ficar dura
            Cruze as pernas de forma confortável,
            <P> Ombros, braços, pernas, pescoço – relaxe, com as pernas apoiadas no chão
            Posicione as mãos e apoie sobre as pernas, joelho, colo, etc.
          </p>
          <p>
            <a class="item item-icon-left" href="#">
              <i class="icon ion-mic-a"></i>
              Relax Time
              <span class="item-note">
                Mountain
              </span>
            </a>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/respirar.jpg">
            <p>
              Terceiro passo: respiração
              Tente respirar de forma suave, mas sem forçar. Se quiser uma técnica mais específica, uma forma é contar o tempo
              (4 segundos inspirando, 4 expirando).
            </p>
            <p>
              <a class="item item-icon-left" href="#">
                <i class="icon ion-mic-a"></i>
                Breathing
                <span class="item-note">
                  Mantra
                </span>
              </a>
            </div>

          </div>
          </ion-content>
        </ion-view>
