<ion-view view-title="Meditação">
  <ion-content id="fundo">
    <h1>Meditação</h1>
    <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    Natureza
    <span class="item-note">
      Sea
    </span>
  </a>

  <a class="item item-icon-left" href="#">
  <i class="icon ion-mic-a"></i>
  Relax Time
  <span class="item-note">
    Mountain
  </span>
</a>

<a class="item item-icon-left" href="#">
<i class="icon ion-mic-a"></i>
Breathing
<span class="item-note">
  Mantra
</span>
</a>

    </div>
  </ion-content>
</ion-view>
