<ion-view view-title="Perfil">
  <ion-content class = "pagina-perfil">
    <div class="header">
      <img src="img/nature.jpg" id="header" alt="background">
      <img src="img/yogi.jpg" id="perfil" alt="Sua foto">
    </div>

    <div class="content">
      <h3>Minhas informações</h3>
      <i class="icon ion-person-stalker"></i>
      Leticia
      <p>leticia@google.com</p>
      <p>Pratica há 4 meses</p>
      <i class="icon ion-home"></i>
      São Paulo, SP
    </div>

  </ion-content>
</ion-view>
