<ion-view view-title="Perfil">
  <ion-content class = "pagina-perfil">
    <div class="header">
      <img src="img/nature.jpg" id="header" alt="background">
      <img src="img/yogi.jpg" id="perfil" alt="Sua foto">
    </div>

    <div class="content">
      <h3>Minhas informações</h3>
      <i class="icon ion-person-stalker"></i>
      Leticia
      <p>leticia@google.com</p>
      <p>Pratica há 4 meses</p>
      <i class="icon ion-home"></i>
      São Paulo, SP
    </div>
  </ion-content>

  <div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/app/home">
      <i class="icon ion-home"></i>
    Home
  </a>
  <a class="tab-item" href="#/app/home/meditacao">
    <i class="icon ion-star"></i>
    Favoritos
  </a>
  <a class="tab-item" href="#/app/meuperfil/config">
    <i class="icon ion-gear-a"></i>
    Configurações
  </a>
</div>
</ion-view>
