<ion-view view-title="Respiração">
  <ion-content id="fundo" class = "pagina-respirar">
    <p>Respirar é um ato vital que nos acompanha desde o momento em nascemos até o nosso último suspiro de vida. Esse ato vital primordial passa despercebido no nosso dia-a-dia.
      <p>A oxigenação do sangue que uma boa respiração proporciona é imprescindível para uma vida saudável. No Método DeRose trabalhamos a respiração como uma forma de aumentar a vitalidade e a consciência, além de administrar o stress, com técnicas de expansão da capacidade respiratória e captação de energia.
        <p>Para aprimorar sua respiração, seguem algumas dicas:
          <img src="img/respire.png">
                </ion-content>
                </ion-view>
