<ion-view view-title="Respiração">
  <ion-content id="fundo" class = "pagina-respirar">
    <p>Respirar é um ato vital que nos acompanha desde o momento em nascemos até o nosso último suspiro de vida. Esse ato vital primordial passa despercebido no nosso dia-a-dia.
      <p>A oxigenação do sangue que uma boa respiração proporciona é imprescindível para uma vida saudável. No Método DeRose trabalhamos a respiração como uma forma de aumentar a vitalidade e a consciência, além de administrar o stress, com técnicas de expansão da capacidade respiratória e captação de energia.
        <p>Para aprimorar sua respiração, seguem algumas dicas:
          <div class="card">
            <div id="dicas" class="item item-text-wrap">
              <p>1)Sinta mais o toque do ar em suas narinas;
              </div>

              <div id="dicas"class="item item-text-wrap">
                <p>2)A entrada do ar não acontece por uma força feita nas narinas.
                  <p>É a movimentação de músculos (abdominais, intercostais e torácicos) que faz o alento ir e vir.
                  </div>
                  <div id="dicas"class="item item-text-wrap">
                    <p>3)Comece treinando a respiração abdominal.
                      <p>Deitado, coloque as mãos no abdômen e sinta que ao inspirar seu abdômen se projeta para cima e ao expirar ele desce. Esta parte da respiração é responsável por cerca de 60% da nossa capacidade pulmonar, no entanto é desprezada por quase todas as pessoas.
                      </div>
                    </div>
                  </ion-content>
                </ion-view>
