<ion-view view-title="Tutorial">
  <ion-content class="pagina-tutorial">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box_1"><h1>Iniciante</h1>
          <ion-list>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="img/cobbler.png">
              </ion-thumbnail>
              <h2>Pose 1</h2>
              <p>Hayao Miyazaki • 1988</p>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="img/child.png">
              </ion-thumbnail>
              <h2>Pose 2</h2>
              <p>Hayao Miyazaki • 1988</p>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="img/warrior1.png">
              </ion-thumbnail>
              <h2>Pose 3</h2>
              <p>Hayao Miyazaki • 1988</p>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="img/mountain.png">
              </ion-thumbnail>
              <h2>Pose 4</h2>
              <p>Hayao Miyazaki • 1988</p>
            </ion-item>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="img/Tree.png">
              </ion-thumbnail>
              <h2>Pose 5</h2>
              <p>Hayao Miyazaki • 1988</p>
            </ion-item>
          </ion-list>
        </ion-slide-box>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box_1"><h1>Intermediário</h1>
        <ion-list>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="img/cobbler.png">
            </ion-thumbnail>
            <h2>Pose 1</h2>
            <p>Hayao Miyazaki • 1988</p>
          </ion-item>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="img/child.png">
            </ion-thumbnail>
            <h2>Pose 2</h2>
            <p>Hayao Miyazaki • 1988</p>
          </ion-item>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="img/warrior1.png">
            </ion-thumbnail>
            <h2>Pose 3</h2>
            <p>Hayao Miyazaki • 1988</p>
          </ion-item>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="img/mountain.png">
            </ion-thumbnail>
            <h2>Pose 4</h2>
            <p>Hayao Miyazaki • 1988</p>
          </ion-item>
          <ion-item>
            <ion-thumbnail item-start>
              <img src="img/Tree.png">
            </ion-thumbnail>
            <h2>Pose 5</h2>
            <p>Hayao Miyazaki • 1988</p>
          </ion-item>
        </ion-list>
      </ion-slide-box>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box_1"><h1>Avançado</h1>
      <ion-list>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="img/cobbler.png">
          </ion-thumbnail>
          <h2>Pose 1</h2>
          <p>Hayao Miyazaki • 1988</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="img/child.png">
          </ion-thumbnail>
          <h2>Pose 2</h2>
          <p>Hayao Miyazaki • 1988</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="img/warrior1.png">
          </ion-thumbnail>
          <h2>Pose 3</h2>
          <p>Hayao Miyazaki • 1988</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="img/mountain.png">
          </ion-thumbnail>
          <h2>Pose 4</h2>
          <p>Hayao Miyazaki • 1988</p>
        </ion-item>
        <ion-item>
          <ion-thumbnail item-start>
            <img src="img/Tree.png">
          </ion-thumbnail>
          <h2>Pose 5</h2>
          <p>Hayao Miyazaki • 1988</p>
        </ion-item>
      </ion-list>
    </ion-slide-box>
  </div>
</ion-slide>





  <div class="card">
    <div class="item item-text-wrap">
      ÁSANA: técnicas corporais, as posições do Yôga. Para ser um ásana, uma posição deve ser estável, confortável, com a respiração consciente, profunda e ritmada,e uma atitude interior que envolva a localização da
      consciência, a mentalização de imagens, cores ou sons e muito sentimento.
    </div>
  </div>
</ion-content>
</ion-view>
