<ion-view view-title="Tutorial">
  <ion-content id="fundo" class="pagina-tutorial">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box_1"><h1>Nível I</h1>
          <ion-list>
            <ion-item>
              <ion-thumbnail item-start>
                <img src="img/cobbler.png">
              </ion-thumbnail>
              <p>Sente-se ereto com as pernas esticadas.
                Flexione seus joelhos e coloque as solas dos pés juntas uma da outra e segure seus pés com as mãos. A cada expiração tente descer mais as pernas até o chão Tempo: 2 min. </p>
              </ion-item>
              <ion-item>
                <ion-thumbnail item-start>
                  <img src="img/child.png">
                </ion-thumbnail>
                <p>Sentado, os joelhos e quadris dobrados, as canelas no chão, abaixe até encostar a testa no chão.
                  A cabeça é alongada e junto os braços podem ser alongados a frente.Tempo: 1 min.</p>
                </ion-item>
                <ion-item>
                  <ion-thumbnail item-start>
                    <img src="img/warrior1.png">
                  </ion-thumbnail>
                  <p>Pés afastados a 5 palmos, pé direito a 90 graus e o outro a 45 graus.
                    Alinhar ombros e quadril na direção do pé direito,flexione o joelho direito até a linha do tornozelo e firme a postura.
                    Eleve os braços e mantenha por 05 respirações e faça o outro lado.</p>
                  </ion-item>
                  <ion-item>
                    <ion-thumbnail item-start>
                      <img src="img/mountain.png">
                    </ion-thumbnail>
                    <p>Com os pés paralelos e juntos, eleve os calcanhares do chão.
                      Sinta a ativação das pernas. Alongue bem a coluna e relaxe os ombros, afastando-os das orelhas.
                      Ao expirar, contraia o abdomen contra a coluna e alongue os braços para o alto. Tempo: 2 min.</p>
                    </ion-item>
                    <ion-item>
                      <ion-thumbnail item-start>
                        <img src="img/Tree.png">
                      </ion-thumbnail>
                      <p>De pé, apoie-se em apenas uma perna.
                        Coloque a planta do outro pé na coxa, perto da pélvis (se não conseguir apoie perto do tornozelo, evite apoiar no joelho).
                        Eleve os braços e as mãos ou, junte e posicione na frente do peito. Troque de perna. Tempo 1,5min em cada.</p>
                      </ion-item>
                    </ion-list>
                    <ion-item id="bolinhas">
                    </ion-item>
                  </ion-slide-box>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="box_1"><h1>Nivel II</h1>
                  <ion-list>
                    <ion-item>
                      <ion-thumbnail item-start>
                        <img src="img/cobbler.png">
                      </ion-thumbnail>
                      <p>Hayao Miyazaki • 1988</p>
                    </ion-item>
                    <ion-item>
                      <ion-thumbnail item-start>
                        <img src="img/child.png">
                      </ion-thumbnail>
                      <p>Hayao Miyazaki • 1988</p>
                    </ion-item>
                    <ion-item>
                      <ion-thumbnail item-start>
                        <img src="img/warrior1.png">
                      </ion-thumbnail>
                      <p>Hayao Miyazaki • 1988</p>
                    </ion-item>
                    <ion-item>
                      <ion-thumbnail item-start>
                        <img src="img/mountain.png">
                      </ion-thumbnail>
                      <p>Hayao Miyazaki • 1988</p>
                    </ion-item>
                    <ion-item>
                      <ion-thumbnail item-start>
                        <img src="img/Tree.png">
                      </ion-thumbnail>
                      <p>Hayao Miyazaki • 1988</p>
                    </ion-item>
                  </ion-list>
                  <ion-item id="bolinhas">
                  </ion-item>
                </ion-slide-box>
              </div>
            </ion-slide>
            <div class="card">
              <div class="item item-text-wrap">
                ÁSANA: técnicas corporais, as posições do Yôga. Para ser um ásana, uma posição deve ser estável, confortável, com a respiração consciente, profunda e ritmada,e uma atitude interior que envolva a localização da
                consciência, a mentalização de imagens, cores ou sons e muito sentimento.
              </div>
            </div>
          </ion-content>
        </ion-view>
