<ion-view view-title="Vídeos">
  <ion-content id="fundo" class="pagina-videos">
   <img src="img/video-aula.png" alt="class">>

   <!-- <div class="list card">

 <div class="item item-avatar">
    <img src="img/avatar.png">
    <h2>Hatha Yoga</h2>
    <p>Programa para Iniciantes</p>
  </div>

 <div class="item item-image">
    <img src="img/cover.jpg">
  </div>

 <a class="item item-icon-left assertive" href="#">
    <i class="icon ion-music-note"></i>
    Comece agora
  </a> -->
  <h3>Primeira aula</h3>
  <iframe width="100%" height="200" src="https://www.youtube.com/embed/D6dsOaeA9BA" frameborder="0" allowfullscreen></iframe>
  <h3>Segunda aula</h3>
  <iframe width="100%" height="200" src="https://www.youtube.com/embed/eiEmbpqJoqk" frameborder="0" allowfullscreen></iframe>
  <h3>Terceira aula</h3>
  <iframe width="100%" height="200" src="https://www.youtube.com/embed/igE9wAdGdkg" frameborder="0" allowfullscreen></iframe>

</div>
  </ion-content>
</ion-view>
