ng-map{
  height: 600px;
}

.pagina-home img{
  width: 50%;
  margin: 20px auto;
  padding-left: 5%;
  padding-right: 5%;
}

.pagina-home{
  width: 100%;
}

.pagina-exercicios img{
  width: 100%;
  margin: 10% auto;
  padding-left: 25%;
  padding-right: 25%;
}

.pagina-exercicios{
  width: 100%;
}

.pagina-respirar{
  padding: 12px;
  padding-top: 20px;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

.pagina-medita p{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}

.pagina-videos h3{
  text-align: center;
  color: #413049 ;
  font-family: 'Raleway', sans-serif;
}

#dicas{
  font-size: 12px;
  font-weight: bold;
  background-image: linear-gradient( 135deg, #FFF5C3 0%, #df98f2 100%);
}

.pagina-glossario{
  width: 100%;
  text-align: center;
  padding: 10px;
}

.pagina-glossario li{
  padding-bottom: 8px;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: 500;
}

.pagina-locais{
  width: 100%;
  text-align: center;
  padding: 10px;
}

.pagina-locais li{
  padding-bottom: 8px;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-align: center;
  font-weight: 500;
}


.termos{
  text-align: center;
  font-size: 15px;
  font-family: sans-serif;
}

.pagina-videos h3{
  text-align: center;
}

.pagina-tutorial img{
  width: 100%;
  padding-top: 10px;
}

#perfil{
  width: 30%;
  border-radius: 60%;
  display: inline-block;
  margin-top: -50px;
  margin-left: 125px;
  border: 3px solid  white;
  font-family: 'Fresca', sans-serif;
}

.content{
  width: 100%;
  text-align: center;
  color: #515e72;
  padding-top: 10px;
  font-size: 17px;
  line-height: 2.5;
}

.facebook {
  margin-top: 50px;
  text-align: center;
}

#buda{
  background-image: url("../img/buda.png");
  background-position: center;
  background-size: cover;
}

#budaLoc{
  background-image: url("../img/buda.png");
  background-position: center;
  background-size: cover;
}

#fundo{
  background-image: url("../img/fundo.png");
  background-position: center;
  background-size: cover;
}

#login-pagina{
  background-image: url("../img/yoga-sunset.png");
  background-position: center;
  background-size: cover;
}

.meu-padding{
  margin-top: 340px;
}
