ng-map{
  height: 600px;
}


.pagina-home img{
  width: 50%;
  margin: 20px auto;
  padding-left: 5%;
  padding-right: 5%;
}

.pagina-home{
  width: 100%;
  background-color: #f2dcb5;
  }

.pagina-exercicios img{
  width: 100%;
  margin: 10% auto;
  padding-left: 25%;
  padding-right: 25%;
}

.pagina-exercicios{
  width: 100%;
}
